{% extends "base.html" %}
{% block title %}Blogs{% endblock title %}
{% block body %}<body>
    <style>
        /* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

.blog-post {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post h2 {
    color: #333;
    margin-bottom: 10px;
}

.blog-post p {
    color: #555;
    line-height: 1.6;
}

.blog-post .author {
    color: #777;
}

    </style>

    <div class="container">
        <h1 style="font-family: cursive;">Blog List</h1>
        <ul class="blog-list">
            {% for post in blog_posts %}
                <li class="blog-post">
                    <h2 style="font-family: cursive;">{{ post.title }}</h2>
                    <p style="font-family: cursive;"> {{ post.content }}</p>
                    <p class="author" style="font-family: cursive;">By: {{ post.author_name }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock body %}

